<html>
<head>
</head>
{% include "style.css" %}
<body>
{% include "menu.html" %}
<table width=100%>
<tr> 	
	<th> <h1>{{wordInput}}</h1> </td> 
</tr>
</table>
<br>
<div align=right>
<input type=button value="Back" onClick="history.go(-1);return true;"> 
</div>
<br>
<iframe height=400px width=100% src="http://dictionary.reference.com/browse/{{wordInput}}" name='iframe_b'></iframe>

<!--iframe height=300 width=100% src="http://www.bing.com/images/search?q={{wordInput}}" name="iframe_b"></iframe> 

</body>
</html>
