<html>
<head>
{% include "style.css" %}
</head>
<body>
{% include "menu.html" %}
<h3> + : move the word to known list <br>
? : move the word to unknown list <br>
X : move the word to trash list</h3>
<h2>{{ qInput }} List</h2> 

{% if wordsMeta %}
<table width=100%>
<tr width=100%>
	{% if qInput != 'del' %}
	<th>&nbsp;X&nbsp;</th> 
	{% endif %}
	<th>No</th> <th width=50%> {{wordsDesc.0.0}} </th>	<th width=50%> {{wordsDesc.8.0}} </th>
	{% if qInput == 'unknown' %}
		<th>Unknown Date</th>
		<th>&nbsp;+&nbsp;</th>
	{% else %}
		<th>&nbsp;?&nbsp;</th>
	{% endif %}
</tr>
{% for cur_word in wordsMeta %}
<tr>
	{% if qInput == 'unknown' %}
		<td align=center><a href=/search/known/?word={{cur_word.0}}&known=del&redirect=list&q=unknown>X</a></td>
		<td align=center><a href=#{{forloop.counter}}>{{ forloop.counter}}</a></td>
		<td align=left> <a href=/search/mean/?word={{cur_word.0}}&redirect=list&q=unknown>{{ cur_word.0 }}</a></td>
		<td align=center><a href=#{{forloop.counter}}> <font color="#F0F0F0">{{ cur_word.8 }}.</font></a></td>
		<td align=center><a href=#{{forloop.counter}}><font size=2 color=black>{{ cur_word.5}}</font></a></td>
		<td align=center><a href=/search/known/?word={{cur_word.0}}&known=true&redirect=list&q=unknown>+</a></td>
	{% elif qInput == 'known' %}
		<td align=center><a href=/search/known/?word={{cur_word.0}}&known=del&redirect=list&q=known>X</a></td>
		<td align=center>{{ forloop.counter}}</td>
		<td align=left>   {{ cur_word.0 }}</td>
		<td align=center> {{ cur_word.8 }}. </td>
		<td align=center><a href=/search/mean/?word={{cur_word.0}}&known=false&redirect=list&q=known>?</a></td>
	{% elif qInput == 'del' %}
		<td align=center>{{ forloop.counter}}</td>
		<td align=left> {{ cur_word.0 }} </td>
		<td align=center> {{ cur_word.8 }}. </td>
		<td align=center><a href=/search/mean/?word={{cur_word.0}}&known=false&redirect=list&q=del>?</a></td>
	{% endif %}
</tr>
{% endfor %}
</table>
{% else %}
{% endif %}

{% include "tail.html" %}
</body>
</html>
