<html>
<head>
</head>
{% include "style.css" %}
<body>
{% include "menu.html" %}
{% if wordsMeta %}
<table width=100%>
	<tr>
	<th width=100>&nbsp;Del&nbsp; </th>
	<th width=50>No</th>
	<th> {{wordsDesc.0.0}} </td>
	<th> {{wordsDesc.8.0}} </td>
	</tr>
	{% for cur_word in wordsMeta %}
	{% if cur_word.1 == 0 %}
	<tr bgcolor="#00FF00">
	{% else %}
	<tr>
	{% endif %}
	<td align=center><a href=/search/known/?word={{cur_word.0}}&known=del&redirect=list&q=all>X</a></td>
	<td align=center> {{ forloop.counter}} </td>
	<td align=left width=50%><a href=/search/mean/?word={{ cur_word.0 }}&redirect=list&q=all>{{ cur_word.0}}</a></td>
	<td align=left width=50%>{{ cur_word.8}}.</td>

	</tr>
	{% endfor %}
</table>
{% else %}
{% endif %}
	</td>
</tr>
</table>
{% include "tail.html" %}
</body>
</html>
