<html>
<head>
<title>Input Id</title>
{% include "style.css" %}
</head>
<body>
<div align=center>
<h1>Pieces of Cake</h1><br>
<img src=http://tourimage.interpark.com/BBS/Tour/FckUpload/201305/6350423383998830105.jpg border=0 width=200>
<br>
<hr>
	<form action="/login/" method="get" id="inputId">
		<input placeholder="input your id" type=text min=1 max=15 name="logId"><br/>
		<font color=red>Note : Will charge packet transfer without WiFi <br>
		If you are trying to login from a mobile device, <br>
		change to WiFi or check your charging plan !!<br><br></font>
		<input type="submit" value="Login">
	</form>
</div>
<hr>
<h2> Type of Words </h2>
<h3> Unknown : before memorizing </h3>
<h3> Known   : after memorized </h3>
<h3> Del     : thresh words </h3>

{% include "tail.html" %}
</body>
</html>
