
<h1>
<b>[{{ userId }}]</b> | <a href=/logout/>Log Off</a> <br>
</h1>

<table width=100%>
<tr>
	<th align=left> Search </th>
	<th align=left width=100%> <a href=/search-form/>New Text</a> | URL | >> <a href=/search/?type=text>Text</a> | <a href=/search/>Result</a> <br> </th>
</tr>
<tr>
	<th align=left> List </th>
	<th align=left> <a href=/list/?q=all>All</a>  | <a href=/list/?q=unknown>Unknown</a> | <a href=/list/?q=known>Known</a> | <a href=/list/?q=del>Del</a> </th>
</tr>
<tr>
	<th align=left> Study </th>
	<th align=left> </th>
</tr>
</table>
