<html>
<head>
</head>
{% include "style.css" %}
<body>
{% include "menu.html" %}
<h3> + : move the word to known list <br>
? : move the word to unknown list <br>
X : move the word to trash list</h3>
<h1> Sliced Result </h1>
{% if sort_words %}
	<table width:100%>
		<tr>
			<th>&nbsp;+&nbsp;</th>
			<th>No</th>
			<th width=100%>Word</th>
			<th>&nbsp;?&nbsp;</th>
		</tr>
	
		{% for Reportword in sort_words %}
		<tr>
			<td align=center><a href=/search/known/?word={{Reportword.word}}&known=true>+</a></td>
			<td align=center>{{forloop.counter}}</td>
			<td><a href=/search/mean/?word={{Reportword.word}}&redirect=search>{{ Reportword.word }}</a> {{ Reportword.cnt }}</td>
			<td align=center><a href=/search/mean/?word={{Reportword.word}}&known=false&redirect=search>?</a></td>
		</tr>
		{% endfor %}
	</table>
{% else %}
<h2>Only new words will be here.</h2>
{% endif %}
{% include "tail.html" %}
</body>
</html>
