<html>
<head>
	<title>Search</title>
{% include "style.css" %}
</head>
<body>
{% include "menu.html" %} 
<form action="/search/" method="GET" id="inputStr">
<div align=center>
	<textarea name="inq" rows=7 autofocus placeholder="input text"></textarea><br/>
	<input type="submit" value="Split & Search">
</div>
{% csrf_token %}
</form>
{% include "tail.html" %}

</body>
</html>
