<meta name="viewport" content = "width = device-width, initial-scale=1, maximum-scale=1">
<style type="text/css">
textarea { width: 100%; padding:5; border-width:1; font-size: 130%; }
input { font-size:170%; }
td {padding:5px; font-size:110%; border-bottom: 1px solid #ddd; }
th {padding:5px; font-size:120%; border-bottom: 1px solid #eee;
    background-color: #4CAF50; color: white;}
tr:hover {background-color: #4CAF50;}
h1 { font-size:150%; }
h2 { font-size:130%; }
h3 { font-size:110%; }
a { text-decoration: none; }

</style>
