<html>
<head>
<script type="text/javascript">
function SetFocus(txtId) {
   var oTxt = document.getElementById(txtId);
   oTxt.focus();
}
</script> 

</head>
{% include "style.css" %}
<body onload="SetFocus('wordCheck')">
{% include "menu.html" %}

<form action="/search/known/" method="get" id="searchUnknown">
<table width=100%>
<tr width=100%> 	
	<th width=100%> <h1>{{wordInput}}</h1> </th> 
</tr>
</table>
<div align=center>
<input width=100% placeholder="re-type the word" type=text name='wordCheck' id='wordCheck' lang="en" autofocus>  
<br><br>
<input width=100% placeholder="type the meaning" type=text name='meaning'>	
<br><br>
<input type=button value="Back" onClick="history.go(-1);return true;"> 
<input type="submit" value="Save"> 
</div>
<input type=hidden name=word value="{{ wordInput }}">
<input type=hidden name=known value="{{ known }}">
<input type=hidden name="q" value="{{ qval }}">
<input type=hidden name=redirect value="{{ redirect }}">

</form>

<table width=100%>
<tr><td width=50%>
<iframe readonly height=400px width=100% onload="SetFocus('wordCheck')" src="http://dictionary.reference.com/browse/{{wordInput}}" name='iframe_b'></iframe>
</td><td width=50%>
<iframe readonly height=400px width=100% onload="SetFocus('wordCheck')" src="http://www.etymonline.com/index.php?allowed_in_frame=1&search={{wordInput}}" name='iframe_c'></iframe>
</td></tr></table>
<!--iframe height=300 width=100% src="http://www.bing.com/images/search?q={{wordInput}}" name="iframe_b"></iframe> 

</body>
</html>
