word_count {
	background-color: #ffffff;
	width: 100%
}

word {
	display: block;
	color: #FF0000;
	font-size: 12pt;
}

string {
	display: block;
	color: #0000FF;
	font-size: 12pt;
}

cnt {
	display: block;
	color: #00FF00;
	font-size: 12pt;
}


